.novedades{
    display: flex;
     text-align: center;
     margin-top: 20px;
     flex-direction: column;
        
 }
 .novedades h1{
     text-decoration: underline;
     text-align: center;
     text-transform: uppercase;
     text-decoration-color: brown;
     color: brown;
     font-size: large;
     
 
 }
 .novedades h2{
    text-decoration: underline;
     text-align: center;
     text-transform: uppercase;
     text-decoration-color: brown;
     color: brown;
     font-size: large;
     

 }
 .contenedorIzquierdo {
     
     width: 50%;
     
 
 }
 .contenedorDerecho{
     
     width: 50%;
     text-align: justify;
     font-size: small;
     margin-top: 70px;
     word-spacing: 0px;
     font-weight: 400;
     font-style: oblique;
     
     
 }
 
 .novedades img {
   width: 800px;
   max-height: 600px;
   border-radius: 20px;
   background-repeat: no-repeat;
   background-position: center;
   border: solid 2px white;
   margin: auto;
   display: block;
   padding: 10px;
   
}



 


 
 
 